In [7]:
# variable assignment
'''Variable assigment'''
z="Name"
z

'Name'

In [10]:
x=8
y=10
x+y
s=90
print(x+y)

18

In [9]:
8+10 #mathematical operations

18

In [12]:
#comparison
print(x==y)
z=90
s==z

False

True

In [11]:
x!=y

True

# datatypes

In [13]:
# integers
w=10
p=-20

In [14]:
w*p

-200

In [15]:
w*abs(p)

200

In [22]:
print(p)
print(z)
print(x)
print(s)
print(type(y))

-20
Name
8
90
<class 'int'>

In [21]:
# float
t=2.0
type(t)

float

In [25]:
# strings
fname='Beatrice'
type(fname)

str

In [32]:
"Beatrice"+"_"+"Oj"

'Beatrice_Oj'

In [33]:
# bool
f=False
print(type(f))
d=True

<class 'bool'>

In [31]:
type(d)

bool

# data structures

In [16]:
# List
# help(list) # getting help
lst1=[1,2,3,4,5,6]
lst1

[1, 2, 3, 4, 5, 6]

In [23]:
lst2=[2,3,4,"winfred",True,45,67,"Immanuel",30.5,["apple"]]
lst2

[2, 3, 4, 'winfred', True, 45, 67, 'Immanuel', 30.5, ['apple']]

In [22]:
lst2[0:5]

[2, 3, 4, 'winfred', True]

In [25]:

lst3=["ATGCATGAT",[2,10,"WRKLSNIM"],35]

In [26]:
lst3.append(7)

In [29]:
lst3[1][-1]

'WRKLSNIM'

In [14]:
lst1+lst2+lst3

[1,
 2,
 3,
 4,
 5,
 6,
 2,
 3,
 4,
 'winfred',
 True,
 45,
 67,
 'Immanuel',
 'ATGCATGAT',
 [2, 10, 'WRKLSNIM'],
 35]

In [64]:
# tuples
tupl1=(2,3)
type(tupl1)

tuple

In [34]:
# dictionaries
dict1={"fname":"Winfred","one":1}
dict1["one"]

1

In [37]:
print(dict1.values())
dict1.keys()

dict_values(['Winfred', 1])

dict_keys(['fname', 'one'])

In [74]:
dict2={"T":"A","G":"C"}

In [38]:
# sets
set1=set([1,2,3,1,2,3,])

In [39]:
set1

{1, 2, 3}

In [40]:
set2=set("ATGCATGACNABTNAG")

In [42]:
set2
base=["A","T","G","C"]
for nuc in set2:
    if nuc not in base:
        print("invalid base")
    else:
        print("valid")

invalid base
invalid base
valid
valid
valid
valid

In [86]:
len(set2)

6

# Control statements

In [51]:
# if
x=10
if x==10:
    print("this is true")

this is true

In [50]:
# if -else
if x==10:
    print("this is true")
else:
    print("this is not true")

this is true

In [52]:
# elif
if x <10:
    print("hello world")
elif x>10:
    print("this is not true")
elif x==10:
    print("this is true")
else:
    print("this is not true")

this is true

In [53]:
# loops
# for loops
for i in lst2:
    print(i)

2
3
4
winfred
True
45
67
Immanuel
30.5
['apple']

In [54]:
# while loops
w=5
while w<10:
    print(w)
    w=w+1

5
6
7
8
9

In [58]:
# try and except
num=int(input("Please enter a number"))
import math
try:
    fact=math.factorial(num)
    print(fact)
    
except ValueError:
    print("No factorial for negative numbers")

Please enter a number 3

6

In [6]:
def fact(num):
    num=int(input("Please enter a number"))
    import math
    try:
        fact=math.factorial(num)
        print(fact)
    
    except ValueError:
        print("No factorial for negative numbers")

In [7]:
fact(3)

Please enter a number -3

No factorial for negative numbers

In [9]:
# Functions
# keyword def
def addtwo(x,y):
    """a function for adding two numbers"""
    sum_two=x+y
    return sum_two

In [11]:
addtwo(5,3)

8

In [7]:
addtwo(100,20)

120

In [10]:
help(addtwo)

Help on function addtwo in module __main__:

addtwo(x, y)
    a function for adding two numbers

In [12]:
DNA="ATCGTACGTA"
G_count=DNA.count("G")
C_count=DNA.count("C")
GC_PERC=(((G_count+C_count)/(len(DNA))*100))

In [16]:
GC_PERC

40.0

In [17]:
def GC_Perc(DNA):
    G_count=DNA.count("G")
    C_count=DNA.count("C")
    GC_PERC=(((G_count+C_count)/(len(DNA))*100))
    return GC_PERC

In [18]:
GC_Perc(DNA)

40.0

In [19]:
#ITERATIVE
lst1=[1,2,3,4]
for element in lst1:
    print(element)

1
2
3
4

In [20]:
# recursive
def power(a,n):
    if n==1:
        return a
    return a*power(a,n-1)

In [36]:
#OOP
class Student():
    """initialising class student"""
    def __init__(self,Admno,Name):
        self._Name=Name
        self._Admno=Admno
    def getName(self):
        return self._Name
    def setAdmno(self):
        return self._Admno

In [37]:
s= Student(23, "Beatrice")

In [35]:
s.getName()

'Beatrice'

In [13]:
# Open a file
with open("./Installation.ipynb","r")as myfile:
    line=myfile.readlines()
    print(line)

['{\n', ' "cells": [\n', '  {\n', '   "cell_type": "markdown",\n', '   "metadata": {},\n', '   "source": [\n', '    "# Quick Introduction to Jupyter Notebooks\\n",\n', '    "\\n",\n', '    "Throughout this course, we will be using Jupyter Notebooks.These notes are provided for you want to set it up in your Computer. \\n",\n', '    "\\n",\n', '    "## Introduction\\n",\n', '    "The Jupyter Notebook is an interactive computing environment that enables users to author notebooks, which contain a complete and self-contained record of a computation. These notebooks can be shared more efficiently. The notebooks may contain:\\n",\n', '    "* Live code\\n",\n', '    "* Interactive widgets\\n",\n', '    "* Plots\\n",\n', '    "* Narrative text\\n",\n', '    "* Equations\\n",\n', '    "* Images\\n",\n', '    "* Video\\n",\n', '    "\\n",\n', '    "It is good to note that \\"Jupyter\\" is a loose acronym meaning Julia, Python, and R; the primary languages supported by Jupyter. \\n",\n', '    "\\n",\n', '    "The notebook can allow a computational researcher to create reproducible documentation of their research. As Bioinformatics is datacentric, use of Jupyter Notebooks increases research transparency, hence promoting open science. \\n",\n', '    "\\n",\n', '    "## First Steps\\n",\n', '    "\\n",\n', '    "### Installation\\n",\n', '    "\\n",\n', '    "1. [Download Miniconda](https://www.anaconda.com/download/) for your specific OS to your home directory\\n",\n', '    "    - Linux: `wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh`\\n",\n', '    "    - Mac: `curl https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh`\\n",\n', '    "2. Run:\\n",\n', '    "    - `bash Miniconda3-latest-Linux-x86_64.sh`\\n",\n', '    "    - `bash Miniconda3-latest-MacOSX-x86_64.sh`\\n",\n', '    "3. Follow all the prompts: if unsure, accept defaults\\n",\n', '    "4. Close and re-open your terminal\\n",\n', '    "5. If the installation is successful, you should see a list of installed packages with\\n",\n', '    "    - `conda list`\\n",\n', '    "If the command cannot be found, you can add Anaconda bin to the path using:\\n",\n', '    "    ` export PATH=~/anaconda3/bin:$PATH`\\n",\n', '    "\\n",\n', '    "For reproducible analysis, you can [create a conda environment](https://conda.io/docs/user-guide/tasks/manage-environments.html) with all the Python packages you used.\\n",\n', '    "\\n",\n', '    "    `conda create --name hackbio python jupyter`\\n",\n', '    "    \\n",\n', '    "To activate the conda environment:\\n",\n', '    "    `source activate hackbio`\\n",\n', '    "\\n",\n', '    "Having set-up conda environment, you can install any package you need using pip. \\n",\n', '    "\\n",\n', '    "`conda install jupyter`\\n",\n', '    "`conda install -c conda-forge jupyterlab`\\n",\n', '    "\\n",\n', '    "or by using pip\\n",\n', '    "\\n",\n', '    "`pip3 install jupyter`\\n",\n', '    "\\n",\n', '    "Then you can quickly launch it using:\\n",\n', '    "\\n",\n', '    "`jupyter notebook` or `jupyter lab`\\n",\n', '    "\\n",\n', '    "NB: We will use a jupyter lab for training. \\n",\n', '    "\\n",\n', '    "\\n",\n', '    "A Jupyter notebook is made up of many cells. Each cell can contain Python code. You can execute a cell by clicking on it and pressing `Shift-Enter` or `Ctrl-Enter` (run without moving to the next line). \\n",\n', '    "\\n",\n', '    "### Further help\\n",\n', '    "\\n",\n', '    "To learn more about Jupyter notebooks, check [the official introduction](http://nbviewer.jupyter.org/github/jupyter/notebook/blob/master/docs/source/examples/Notebook/Notebook%20Basics.ipynb) and [some useful Jupyter Tricks](https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/). \\n",\n', '    "\\n",\n', '    "Book: http://www.ict.ru.ac.za/Resources/cspw/thinkcspy3/thinkcspy3.pdf\\n",\n', '    "\\n",\n', '    "# Python for Bioinformatics\\n",\n', '    "\\n",\n', '    "## Introduction\\n",\n', '    "\\n",\n', '    "Python is a modern, robust, high-level programming language. It is straightforward to pick up even if you are entirely new to programming. \\n",\n', '    "\\n",\n', '    "Python, similar to other languages like Matlab or R, is interpreted hence runs slowly compared to C++, Fortran or Java. However, writing programs in Python is very quick. Python has an extensive collection of libraries for everything from scientific computing to web services. It caters for object-oriented and functional programming with a module system that allows large and complex applications to be developed in Python. \\n",\n', '    "\\n",\n', '    "These lectures are using Jupyter notebooks which mix Python code with documentation. The python notebooks can be run on a web server or stand-alone on a computer."\n', '   ]\n', '  },\n', '  {\n', '   "cell_type": "code",\n', '   "execution_count": null,\n', '   "metadata": {},\n', '   "outputs": [],\n', '   "source": []\n', '  }\n', ' ],\n', ' "metadata": {\n', '  "kernelspec": {\n', '   "display_name": "Python 3",\n', '   "language": "python",\n', '   "name": "python3"\n', '  },\n', '  "language_info": {\n', '   "codemirror_mode": {\n', '    "name": "ipython",\n', '    "version": 3\n', '   },\n', '   "file_extension": ".py",\n', '   "mimetype": "text/x-python",\n', '   "name": "python",\n', '   "nbconvert_exporter": "python",\n', '   "pygments_lexer": "ipython3",\n', '   "version": "3.8.5"\n', '  }\n', ' },\n', ' "nbformat": 4,\n', ' "nbformat_minor": 4\n', '}\n']

In [ ]:
# scripting and modules